body{
	margin: 0;
	padding: 0;
	/* background-color: #000; */
	font-family: 'Georama', sans-serif;
}

.container{
	display: grid;	/* Cria o contexto de formatação de grade */
	grid-template-rows: auto auto 15vw;
	grid-template-columns: 15vw 70vw 15vw;
	grid-template-areas: 
		"primaria menu secundaria"
		"primaria principal secundaria"
		"primaria rodape secundaria";
}

.menu{ grid-area: menu; }
.primaria{ grid-area: primaria; }
.principal{ grid-area: principal; }
.secundaria{ grid-area: secundaria; }
.rodape{ grid-area: rodape; }


h1{
	margin: 50px;
	box-shadow: 5px 5px 5px #9ad4d6;
	font-weight: 500;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

ul{
	margin: 0;
	list-style: none; /* Retira o marcador das listas */
	padding: 30px;
	text-align: center;	/* Centraliza todos os itens da lista */
	/* background-color: #1289A7; */
	

}

li{
	display: inline-block;	/* Transforma todos os itens da lista em palavras, (mesma linha) */
	/* border: 1px solid black; */
	padding: 15px;	/* Aumenta o espaçamento interno, esta será a área "clicável" do menu */
	width: 150px;	/* Aumenta a largura dos itens da lista, ou seja os menus */
	text-transform: uppercase;
	margin-left: 10px;	/* Aumenta o espaço externo entre os itens do menu */
	cursor: pointer;	/* Define o cursor do mouse como a "mãozinha" */
	box-shadow: 5px 5px 5px #9ad4d6;
	border-radius: 5px;
}

/* Hover é o efeito de alterar o visual quando posicionamos o mouse sobre o elemente com hover */
li:hover{	
	background: #ffef9f;	
	text-decoration: underline;	/* Cria o underline sobre os itens do menu */
	font-weight: bolder;
}

table{
	margin: auto;
	margin-bottom: 150px;
	border-collapse: collapse;
	box-shadow: 5px 5px 5px #9ad4d6;
	border-radius: 5px;
}

td, th{
	width: auto;
	border: 2px solid #9ad4d6;
	/* border-top: 2px solid #9ad4d6; */
	padding: 5px;
	text-align: center;
}

th{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
}

tr:hover{	
	background: #ffef9f;	
}

.rodape{
	/* background: url(../img/fundo.jpg) no-repeat center center; */
	text-align: center;
}


.contatos{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 25px;
	color: #000;
}

.texto{
	border: 1px solid #9ad4d6;
	padding: 20px;
	text-indent: 20px;
	text-align: justify;
	line-height: 2;
	margin-bottom: 100px;
	/* box-shadow: 5px 5px 5px #9ad4d6; */
}

a{
	text-decoration: none;
}

.dados_professor{
	width: 500px;
}

.fotos{
	width: 150px;
}
